html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  -webkit-transition: 0.6s -webkit-transform;
  transition: 0.6s -webkit-transform;
  transition: 0.6s transform;
  transition: 0.6s transform, 0.6s -webkit-transform;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
  padding: 0 32px;
}

.section__cards {
  padding-top: 100px;
}

.section__cards .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.section__cards .cards .card {
  padding: 24px 32px;
  border-radius: 5px;
  border: 1px solid #eaebf0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.section__cards .cards .card .card-content .icon_showmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__cards .cards .card .card-content .icon_showmore img {
  width: 40px;
  height: 40px;
}

.section__cards .cards .card .card-content .icon_showmore button {
  width: 118px;
  height: 46px;
  color: #272d37;
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid #dae0e6;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  font-size: 13px;
  font-style: normal;
  line-height: 22px;
  font-weight: 400;
}

.section__cards .cards .card .card-content .head_context {
  padding-top: 24px;
}

.section__cards .cards .card .card-content .head_context h1 {
  color: #272D37;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
}

.section__cards .cards .card .card-content .head_context p {
  color: #5f6d7e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding-top: 8px;
}

.section__cards .card-btn {
  text-align: center;
  padding-top: 64px;
}

.section__cards .card-btn button {
  width: 174px;
  height: 46px;
  color: #fff;
  background-color: #437EF7;
  padding: 12px 18px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

@media (max-width: 768px) {
  .container {
    padding: 0px 16px !important;
  }
  .section__cards .cards {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .section__cards .card-btn {
    display: none;
  }
}

.header {
  padding: 20px 0px;
  height: 86px;
  border-bottom: 1px solid #eaebf0;
  background-color: #FAFBFC;
}

.header .con-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .con-header .header__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.header .con-header .header__left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.header .con-header .header__left-side ul :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header .con-header .header__left-side ul li a {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #272D37;
}

.header .con-header .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header .con-header .header__right-side :nth-child(1) {
  color: #437EF7;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.header .con-header .header__right-side :nth-child(2) {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 12px 18px;
  width: 80px;
  height: 46px;
  color: white;
  background-color: #437EF7;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border-radius: 6px;
  cursor: pointer;
}

.header .con-header .menu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 !important;
    height: 72px !important;
  }
  .container {
    width: 100% !important;
    padding: 16px !important;
  }
  .container .header__left-side ul {
    display: none !important;
  }
  .header__right-side {
    display: none !important;
  }
  .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.section__title .title-content-btns p {
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.52px;
  color: #272D37;
  width: 900px;
  text-align: center;
  margin: 48px auto 0px;
}

.section__title .title-content-btns .content {
  padding-top: 24px;
  color: #5F6D7E;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  width: 900px;
  margin: 0px auto;
}

.section__title .title-content-btns .btnss {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.section__title .title-content-btns .btnss :nth-child(1) {
  width: 121px;
  height: 46px;
  color: white;
  background-color: #437EF7;
  border-radius: 6px;
}

.section__title .title-content-btns .btnss :nth-child(2) {
  border-radius: 6px;
  border: 1px solid #dae0e6;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 12px 18px;
  width: 118px;
  height: 46px;
  color: #272D37;
  background-color: #fff;
}

@media (max-width: 768px) {
  .section__title .container {
    padding: 0px 16px !important;
  }
  .section__title .title-content-btns p {
    width: 100% !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
    letter-spacing: -0.1px !important;
  }
  .section__title .title-content-btns .content {
    width: 100% !important;
    font-size: 18px !important;
  }
  .section__title .title-content-btns .btnss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__title .title-content-btns .btnss button {
    width: 100% !important;
  }
}

.section_advertisement {
  margin: 64px 0px 0px;
  background-color: #fafbfc;
  padding: 64px 0px;
}

.section_advertisement .advert-title {
  text-align: center;
}

.section_advertisement .advert-title h1 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
  color: #272D37;
}

.section_advertisement .advert-title p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5F6D7E;
  width: 800px;
  margin: 0 auto;
  padding-top: 16px;
}

.section_advertisement .advert__content__picture {
  padding: 64px 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.section_advertisement .advert__content__picture .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_advertisement .advert__content__picture .left-side .advert__content {
  width: 516px;
}

.section_advertisement .advert__content__picture .left-side .advert__content .first-part {
  color: #437EF7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.section_advertisement .advert__content__picture .left-side .advert__content .second-part {
  color: #272D37;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.section_advertisement .advert__content__picture .left-side .advert__content .btn-part {
  padding-top: 40px;
}

.section_advertisement .advert__content__picture .left-side .advert__content .btn-part button {
  width: 133px;
  height: 46px;
  color: #fff;
  background-color: #437EF7;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_advertisement .advert__content__picture .left-side .advert__content p {
  color: #5F6D7E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding-top: 10px;
}

.section_advertisement .advert__content__picture .right-side {
  background-image: url(/assets/svg/image.svg);
  width: 560px;
  height: 560px;
}

.section_advertisement .advert__content__picture .responsive-side {
  background-image: url(/assets/svg/zindex.svg);
  width: 560px;
  height: 560px;
  display: none;
}

@media (max-width: 768px) {
  .section_advertisement .advert-title h1 {
    width: 100%;
  }
  .section_advertisement .advert-title p {
    width: 100% !important;
  }
  .section_advertisement .advert__content__picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
  .section_advertisement .advert__content__picture .left-side {
    width: 100%;
  }
  .section_advertisement .advert__content__picture .right-side {
    display: none;
  }
  .section_advertisement .advert__content__picture .responsive-side {
    width: 100% !important;
    display: initial;
    background-repeat: no-repeat;
  }
}

#section_blue-line .blue-line {
  padding: 64px 0px;
  background-color: #2B63D9;
}

#section_blue-line .blue-line .blue-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}

#section_blue-line .blue-line .blue-inside .blue-picture {
  width: 100%;
  height: 560px;
  background-image: url(/assets/svg/zindex.svg);
  background-repeat: no-repeat;
}

#section_blue-line .blue-line .blue-inside .blue-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts {
  width: 516px;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts .blue-first-part {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts .blue-second-part {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts p {
  color: #b1ccfb;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding-top: 10px;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts .blue-btn-part {
  padding-top: 40px;
}

#section_blue-line .blue-line .blue-inside .blue-content .blue-parts .blue-btn-part button {
  width: 133px;
  height: 46px;
  color: #fff;
  background-color: #437EF7;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #section_blue-line .blue-line .blue-inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section_blue-line .blue-line .blue-content {
    width: 100% !important;
  }
  #section_blue-line .blue-line .blue-content .blue-parts {
    width: 100% !important;
  }
}

.section_fifth {
  padding: 64px 0px;
  background-color: #fafbfc;
}

.section_fifth .left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 124px;
}

.section_fifth .left-right .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_fifth .left-right .left-content .left .demons {
  color: #272d37;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
}

.section_fifth .left-right .left-content .left .velit {
  color: #5f6d7e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 16px;
}

.section_fifth .left-right .left-content .left .trues {
  margin-top: 24px;
}

.section_fifth .left-right .left-content .left .trues ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.section_fifth .left-right .left-content .left .trues ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.section_fifth .left-right .left-content .left .trues ul span {
  color: #5f6d7e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.section_fifth .left-right .left-content .left .start-btn button {
  width: 133px;
  height: 46px;
  color: #fff;
  background-color: #437EF7;
  padding: 12px 18px;
  border-radius: 6px;
  margin-top: 40px;
}

.section_fifth .left-right .fifth-image {
  background-image: url(/assets/svg/computerimg.svg);
  width: 100%;
  height: 560px;
}

@media (max-width: 768px) {
  .section_fifth .left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .section_fifth .left-right .left-content {
    width: 100%;
  }
}

.section_blog-post {
  padding: 64px 0px;
}

.section_blog-post .titles {
  width: 800px;
  margin: 0 auto;
}

.section_blog-post .titles h1 {
  color: #272d37;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.section_blog-post .titles p {
  text-align: center;
  padding-top: 16px;
  color: #5f6d7e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.section_blog-post .blog-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 20px;
  padding-top: 64px;
}

.section_blog-post .blog-posts .post {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section_blog-post .blog-posts .post-img {
  width: 384px;
  height: 248px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section_blog-post .blog-posts .post-content {
  padding: 32px 24px;
}

.section_blog-post .blog-posts .post-content .article-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.section_blog-post .blog-posts .post-content .article-part button {
  border-radius: 5px;
  background: #f5faff;
  color: #437ef7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
  padding: 4px 12px;
}

.section_blog-post .blog-posts .post-content .article-part span {
  color: #5F6D7E;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.section_blog-post .blog-posts .title-part {
  color: #272D37;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 20px;
}

.section_blog-post .blog-posts .content-part {
  color: #5F6D7E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 16px;
}

.section_blog-post .blog-posts .learn-more {
  color: #2B63D9;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-top: 24px;
}

.section_blog-post .blog-posts .learn-more:hover {
  opacity: 0.4;
}

@media (max-width: 768px) {
  .section_blog-post .titles {
    width: 100%;
  }
  .section_blog-post .blog-posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section_blog-post .post-img {
    width: 100% !important;
  }
}

.section_customer-opinion .opinion-title {
  width: 800px;
  margin: 0px auto;
}

.section_customer-opinion .opinion-title h1 {
  color: #272D37;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.section_customer-opinion .opinion-title p {
  color: #5F6D7E;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 16px;
}

.section_customer-opinion .profile-star-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-top: 64px;
}

.section_customer-opinion .profile-star-card .profile .images {
  text-align: center;
  padding: 0px 10px;
}

.section_customer-opinion .profile-star-card .profile .image-contnt {
  color: #272d37;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .section_customer-opinion .opinion-title {
    width: 100% !important;
  }
  .section_customer-opinion .profile-star-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
