@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
  padding: 0 32px;
}

.header {
  padding: 20px 0px;
  height: 86px;
  border-bottom: 1px solid #eaebf0;
}

.header .con-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .con-header .header__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.header .con-header .header__left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.header .con-header .header__left-side ul :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header .con-header .header__left-side ul li a {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #272D37;
}

.header .con-header .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header .con-header .header__right-side :nth-child(1) {
  color: #437EF7;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.header .con-header .header__right-side :nth-child(2) {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 12px 18px;
  width: 80px;
  height: 46px;
  color: white;
  background-color: #437EF7;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border-radius: 6px;
  cursor: pointer;
}

.header .con-header .menu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 !important;
    height: 72px !important;
  }
  .container {
    width: 100% !important;
    padding: 16px !important;
  }
  .container .header__left-side ul {
    display: none !important;
  }
  .header__right-side {
    display: none !important;
  }
  .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.section__title .title-content-btns p {
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.52px;
  color: #272D37;
  width: 900px;
  margin-top: 48px;
}

.section__title .title-content-btns .content {
  padding-top: 24px;
  color: #5F6D7E;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  width: 900px;
  margin: 0px auto;
}

.section__title .title-content-btns .btnss {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.section__title .title-content-btns .btnss :nth-child(1) {
  width: 121px;
  height: 46px;
  color: white;
  background-color: #437EF7;
  border-radius: 6px;
}

.section__title .title-content-btns .btnss :nth-child(2) {
  border-radius: 6px;
  border: 1px solid #dae0e6;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 12px 18px;
  width: 118px;
  height: 46px;
  color: #272D37;
  background-color: #fff;
}

@media (max-width: 768px) {
  .section__title .container {
    padding: 0px 16px !important;
  }
  .section__title .title-content-btns p {
    width: 100% !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
    letter-spacing: -0.1px !important;
  }
  .section__title .title-content-btns .content {
    width: 100% !important;
    font-size: 18px !important;
  }
  .section__title .title-content-btns .btnss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__title .title-content-btns .btnss button {
    width: 100% !important;
  }
}
