.section__title {
  .title-content-btns {
    p {
      text-align: center;
      font-family: Inter;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -0.52px;
      color: $font-bold;
      width: 900px;
      margin-top: 48px;
    }

    .content {
      padding-top: 24px;
      color: $color-grey;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.1px;
      width: 900px;
      margin: 0px auto;
    }

    .btnss {
      padding-top: 36px;
      display: flex;
      justify-content: center;
      gap: 16px;
      :nth-child(1) {
        @include buttons(121px, 46px, white, $btn-bgcolor);
        border-radius: 6px;
      }

      :nth-child(2) {
        border-radius: 6px;
        border: 1px solid #dae0e6;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        padding: 12px 18px;
        @include buttons(118px, 46px, $font-bold, #fff);
      }
    }
  }

  @media (max-width: $phone-size) {
    .container {
      padding: 0px 16px !important;
    }
    .title-content-btns {
      p {
        width: 100% !important;
        font-size: 32px !important;
        font-weight: 400 !important;
        line-height: 36px !important;
        letter-spacing: -0.1px !important;
      }

      .content {
        width: 100% !important;
        font-size: 18px !important;
      }

      .btnss {
        flex-direction: column;
        button {
          width: 100% !important;
        }
      }
    }
  }
}
